@keyframes aniWhenLoad {
    from{
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes chaneFont {
    10%{
        font-family: 'Courier New', Courier, monospace;
    }

    20%{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    30%{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    40%{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }
    50%{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

body{
    animation: aniWhenLoad 400ms;
}

.rizky {
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.rizky:hover {
    animation: chaneFont 1000ms linear infinite;
}

.hero-desc {
    display: flex;
    position: relative;
    justify-content: center;
}

.hero-desc .desc {
    max-width: 50%;
    color: gray;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

a {
    text-decoration: none;
    color:#3f4c6b;
}

.tech-box{
    background:linear-gradient(to right,#606c88,#3f4c6b);
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    font-size: 14px;
    color: white;
    border-radius: 12px;
}

.project {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 90px;
}

.box-back-end > a > div {
    background:linear-gradient(to right,#606c88,#3f4c6b);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 12px;
    color: white;
    padding: 10px;
}

.project-box {
    background:linear-gradient(to right,#606c88,#3f4c6b);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 12px;
    color: white;
    padding: 10px;
}

.project-container {
    margin-top: 15%;
}